.product {
    height: 510px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info {
    padding: 14px;
}

.product-info p {
    margin-top: 5px;
}

.btn-cart {
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background-color: orange;
}